<a href="https://colab.research.google.com/github/agus2207/Cursos/blob/master/Complete-Python-3-Bootcamp/03_Function_Practice_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [18]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
      return min(a,b)
    else:
      return max(a,b)

In [19]:
# Check
lesser_of_two_evens(2,4)

2

In [20]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [21]:
def animal_crackers(text):
    aux = text.split()
    if aux[0][0] == aux[1][0]:
      return True
    else:
      return False

In [22]:
# Check
animal_crackers('Levelheaded Llama')

True

In [23]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [24]:
def makes_twenty(n1,n2):
    if n1+n2 == 20 or n1 == 20 or n2 == 20:
      return True
    else:
      return False

In [25]:
# Check
makes_twenty(20,10)

True

In [26]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [27]:
def old_macdonald(name):
    capital = ''
    for index, character in enumerate(name):
      if index == 0 or index == 3:
        capital += character.upper()
      else:
        capital += character.lower()
    return capital

In [28]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [29]:
def master_yoda(text):
    aux = text.split()
    reverse = aux[::-1]
    return " ".join(reverse)

In [30]:
# Check
master_yoda('I am home')

'home am I'

In [31]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [32]:
def almost_there(n):
    if abs(100-n) <= 10 or abs(200-n) <= 10:
      return True
    else:
      return False

In [33]:
# Check
almost_there(104)

True

In [34]:
# Check
almost_there(150)

False

In [35]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [36]:
def has_33(nums):
  aux = 0
  for num in range(0,len(nums)-1):
    if nums[num] == 3 and nums[num+1] == 3:
      return True
  return False

In [37]:
# Check
has_33([1, 3, 3])

True

In [38]:
# Check
has_33([1, 3, 1, 3])

False

In [39]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [40]:
def paper_doll(text):
    doll = ''
    for character in text:
      doll += character*3
    return doll

In [41]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [42]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [43]:
def blackjack(a,b,c):
    sum = a+b+c
    if sum <= 21:
      return sum
    elif 11 in [a,b,c] and sum - 10 <= 21:
      return sum-10
    else:
      return 'BUST'

In [44]:
# Check
blackjack(5,6,7)

18

In [45]:
# Check
blackjack(9,9,9)

'BUST'

In [46]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [47]:
def summer_69(arr):
    res = 0
    flag = False
    for num in arr:
      if num == 6:
        flag = True
      elif num == 9:
        flag = False
      elif flag == False:
        res += num
    return res

In [48]:
# Check
summer_69([1, 3, 5])

9

In [49]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [50]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [51]:
def spy_game(nums):
    control = 0
    for num in nums:
      if num == 0 and control < 2:
        control += 1
      elif num == 7 and control == 2:
        return True
    return False

In [52]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [53]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [54]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [55]:
def count_primes(num):
    count = 0
    for i in range(2,num+1):
      for j in range(2,i+1): 
        if i%j == 0 and i != j: 
          break
        elif i%j == 0 and i == j:
          #print(i)
          count += 1
    return count

In [56]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [57]:
def print_big(letter):
    dicc = {'a':[[0,0,1,0,0],[0,1,0,1,0],[1,1,1,1,1],[1,0,0,0,1],[1,0,0,0,1]],
            'b':[[1,1,1,1,0],[1,0,0,0,1],[1,1,1,1,0],[1,0,0,0,1],[1,1,1,1,0]], 
            'c':[[1,1,1,1,1],[1,0,0,0,0],[1,0,0,0,0],[1,0,0,0,0],[1,1,1,1,1]], 
            'd':[[1,1,1,1,0],[1,0,0,0,1],[1,0,0,0,1],[1,0,0,0,1],[1,1,1,1,0]], 
            'e':[[1,1,1,1,1],[1,0,0,0,0],[1,1,1,1,0],[1,0,0,0,0],[1,1,1,1,1]]}
    symbol = ''
    if letter in dicc:
      #print(dicc[letter])
      for i in dicc[letter]:
        for j in i:
          if j == 0:
            symbol += ' '
          else:
            symbol += '*'
        symbol += '\n'
    print(symbol)

In [58]:
print_big('a')

  *
 * *
*****
*   *
*   *

## Great Job!