<a href="https://colab.research.google.com/github/agus2207/Cursos/blob/master/Complete-Python-3-Bootcamp/07_Statements_Assessment_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Statements Assessment Test
Let's test your knowledge!

_____
**Use <code>for</code>, .split(), and <code>if</code> to create a Statement that will print out words that start with 's':**

In [1]:
st = 'Print only the words that start with s in this sentence'

In [2]:
#Code here
list1 = st.split()
for item in list1:
  if item[0] == 's':
    print(item)

start
s
sentence

______
**Use range() to print all the even numbers from 0 to 10.**

In [3]:
#Code Here
for num in range(0,10):
  if num%2 == 0:
    print(num)

0
2
4
6
8

___
**Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.**

In [4]:
#Code in this cell
list2 = [x for x in range(1,50) if x%3 == 0]
list2

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

_____
**Go through the string below and if the length of a word is even print "even!"**

In [6]:
st = 'Print every word in this sentence that has an even number of letters'

In [9]:
#Code in this cell
list3 = st.split()
for word in list3:
  if len(word)%2 == 0:
    print('even:', word)

even: word
even: in
even: this
even: sentence
even: that
even: an
even: even
even: number
even: of

____
**Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".**

In [11]:
#Code in this cell
for x in range (1,100):
  if x%3 == 0 and x%5 == 0:
    print(x, "FizzBuzz")
  elif x%3 == 0:
    print(x, "Fizz")
  elif x%5 == 0:
    print(x, "Buzz")

3 Fizz
5 Buzz
6 Fizz
9 Fizz
10 Buzz
12 Fizz
15 FizzBuzz
18 Fizz
20 Buzz
21 Fizz
24 Fizz
25 Buzz
27 Fizz
30 FizzBuzz
33 Fizz
35 Buzz
36 Fizz
39 Fizz
40 Buzz
42 Fizz
45 FizzBuzz
48 Fizz
50 Buzz
51 Fizz
54 Fizz
55 Buzz
57 Fizz
60 FizzBuzz
63 Fizz
65 Buzz
66 Fizz
69 Fizz
70 Buzz
72 Fizz
75 FizzBuzz
78 Fizz
80 Buzz
81 Fizz
84 Fizz
85 Buzz
87 Fizz
90 FizzBuzz
93 Fizz
95 Buzz
96 Fizz
99 Fizz

____
**Use List Comprehension to create a list of the first letters of every word in the string below:**

In [12]:
st = 'Create a list of the first letters of every word in this string'

In [17]:
#Code in this cell
list4 = [word[0] for word in st.split()]
list4

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

### Great Job!